.footer{
    /* height: 20vh;
    position: fixed; */
    position: fixed;
    display: flex;
    justify-content: space-evenly;
bottom: 0;
    padding: 30px;
    width: 100%;
    background-color: #282828;
}